body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url("https://i.pinimg.com/originals/87/15/c6/8715c6f2b36ea2306b9b32dcf7e4cffe.png");
  /*background-position: 800px 20%;
  background-attachment: scroll;
  background-repeat: no-repeat;
  overflow-x: hidden;*/
  min-height: 100%;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}


p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

/*----------------------------------------------------------------------------------------------------*/

.button1 {
    background-color: skyblue;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;   
    cursor: pointer;
}
    .button1:hover,
    .button1:focus {
        box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    }

.buttonstart {
    background-color: skyblue;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;   
    cursor: pointer;
    align-self: center;
}
    .buttonstart:hover,
    .buttonstart:focus {
        box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    }
    .buttonstart /*button centrieren*/ {
        margin: 0px;
        position: absolute;
        left: 1400px;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 200px;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

.buttonfertig {
    background-color: skyblue;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;   
    cursor: pointer;
}
    .buttonfertig:hover,
    .buttonfertig:focus {
        box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    }

    .buttonfertig /*button centrieren*/ {
        margin: 0px;
        position: absolute;
        top: 92%;
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

/*----------------------------------------------------------------------------------------------------*/

.inputname {
    background-color: skyblue;
    border: none;
    text-align: center;
    color: white;
    margin: 0px;
    position: absolute;
    left: 900px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 200px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.inputname::placeholder {
    color: white;
    opacity: 1; /* Firefox */
    text-align: center;
}

.showname {
    background-color: skyblue;
    border: none;
    text-align: center;
    color: white;
    margin: 0px;
    position: absolute;
    left: 12%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 3%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: default;
}


.inputlastname {
    background-color: skyblue;
    border: none;
    text-align: center;
    color: white;
    margin: 0px;
    position: absolute;
    left: 1120px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 200px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.inputlastname::placeholder {
    color: white;
    opacity: 1; /* Firefox */
    text-align: center;
}

.showlastname {
    background-color: skyblue;
    border: none;
    text-align: center;
    color: white;
    margin: 0px;
    position: absolute;
    left: 30.5%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 3%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: default;
}

/*----------------------------------------------------------------------------------------------------*/

.grid-container {
    display: grid;
    grid-template-areas: 
        'left middle right';
    grid-column-gap: 10px;
}

.left, .middle, .right {
    padding: 10px;
    height: 300px;
    background-color:rgb(236, 236, 236);
    border-radius: 20px;
    opacity: 0.9;
}

.left {
    grid-area: left;
}

.middle {
    grid-area: middle;
}

.right {
    grid-area: right;
}

@media (max-width: 600px) {
    .grid-container  {
      grid-template-areas: 
        'left' 
        'middle' 
        'right';
    }
}

/*----------------------------------------------------------------------------------------------------*/

.grid-container2 {
    display: grid;
    grid-template-areas: 
        'left2 midleft midright';
    grid-column-gap: 10px;
}

.midleft, .midright {
    padding: 10px;
    height: 300px;
    background-color: rgb(236, 236, 236);
    border-radius: 20px;
    opacity: 0.9;
}

.left2, .right2 {
    padding: 10px;
    height: 300px;
    background-color: rgb(236, 236, 236);
    border-radius: 20px;
    opacity: 0.9;
}

.left2 {
    grid-area:  left left;

 }
.right2 {
    grid-area: right;
}

.midleft {
    grid-area: left middle;
}

.midright {
    grid-area: right middle;
}

@media (max-width: 600px) {
    .grid-container2  {
      grid-template-areas: 
        'midleft' 
        'midright';
    }
}

/*----------------------------------------------------------------------------------------------------*/

.header {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center; 
    text-decoration: underline;  
    cursor: default;
}

/*----------------------------------------------------------------------------------------------------*/

.toggle-buttons input[type="radio"] {
    visibility: hidden;
}


.toggle-buttons label {
    border: 1px solid #333;
    border-radius: 0.5em;
    padding: 0.5em;
    cursor: pointer;
    position: absolute;
    align-items: center;
}

.toggle-buttons input:checked + label {
    background: #aefcff;
    color: #0099b4;
    box-shadow: none;

}

.toggle-buttons-invisible {
    display: none;
}

/*----------------------------------------------------------------------------------------------------*/

.manu {
    background-color: skyblue;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;   
    cursor: pointer;
    top: 280px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.gesell {
    background-color: skyblue;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;   
    cursor: pointer;
    top: 250px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.muku {
    background-color: skyblue;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;   
    cursor: pointer;
    top: 310px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.sprach {
    background-color: skyblue;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;   
    cursor: pointer;
    top: 340px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

/*----------------------------------------------------------------------------------------------------*/