
.grid-container3 {
    font-family: 'Indie Flower', cursive;
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 15px;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content min-content;
    grid-template-areas: 
    '... ... ... button'
    'labelname name labellastname lastname'
    '... ... ... ...'
    '... ... ... ...'
    'pfach1label pfach1 pfach2label pfach2'
    'pfach3label pfach3 pfach4label pfach4'
    'pfach5label pfach5 ... ...'
    'extra1label extra1 extra2label extra2';
}

.printbutton {
    grid-area: button;
    height: 60px;
    width: 200px;
    border-radius: 25px;
    margin: auto;
}

.name {
    grid-area: name;
    background-color: skyblue;
    color: black;
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    margin: auto;
    text-align: center;
}

.lastname {
    grid-area: lastname;
    background-color: skyblue;
    color: black;
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    margin: auto;
    text-align: center;
}

.pfach1 {
    grid-area: pfach1;
    background-color: skyblue;
    color: black;
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    margin: auto;
    text-align: center;
}

.pfach2 {
    grid-area: pfach2;
    background-color: skyblue;
    color: black;
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    margin: auto;
    text-align: center;
}

.pfach3 {
    grid-area: pfach3;
    background-color: skyblue;
    color: black;
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    margin: auto;
    text-align: center;
}

.pfach4 {
    grid-area: pfach4;
    background-color: skyblue;
    color: black;
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    margin: auto;
    text-align: center;
}

.pfach5 {
    grid-area: pfach5;
    background-color: skyblue;
    color: black;
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    margin: auto;
    text-align: center;
}

.extra1 {
    grid-area: extra1;
    background-color: skyblue;
    color: black;
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    margin: auto;
    text-align: center;
}

.extra2 {
    grid-area: extra2;
    background-color: skyblue;
    color: black;
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    margin: auto;
    text-align: center;   
}

/*----------------------------------------------------------------------------------------------------*/

.namelabel {
    grid-area: labelname;
    color: black;
    margin: auto;
}

.lastnamelabel {
    grid-area: labellastname;
    color: black;
    margin: auto;
}

.pfach1label {
    grid-area: pfach1label;
    color: black;
    margin: auto;
}

.pfach2label {
    grid-area: pfach2label;
    color: black;
    margin: auto;
}

.pfach3label {
    grid-area: pfach3label;
    color: black;
    margin:  auto;
}

.pfach4label {
    grid-area: pfach4label;
    color: black;
    margin: auto;
}

.pfach5label {
    grid-area: pfach5label;
    color: black;
    margin: auto;
}

.extra1label {
    grid-area: extra1label;
    color: black; 
    margin: auto;
}

.extra2label {
    grid-area: extra2label;
    color: black; 
    margin: auto;   
}
/*----------------------------------------------------------------------------------------------------*/