.grid-container3 {
    font-family: 'Actor', sans-serif;
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: repeat(2, 1fr) min-content repeat(2, 1fr);
    grid-row-gap: 15px;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content;
    grid-template-areas: 
    '... ... ... button2 button'
    'labelname name ... labellastname lastname'
    '... ... ... ... ...'
    '... ... ... ... ...'
    'pfach1label pfach1 ... pfach2label pfach2'
    'pfach3label pfach3 ... pfach4label pfach4'
    'pfach5label pfach5 ... ... ...'
    '... ... ... ... ...'
    '... ... ... ... ...'
    '... ... ... ... ...'
    '... ... ... ... ...'
    '... ... ... ... ...'
    '... ... ... ... ...'
    '... ... ... ... ...'
    'extragk ... ... ... ...'
    '... ... ... ... ...'
    'extra1label extra1 ... extra2label extra2'
    'extra3label extra3 ... extra4label extra4'
    'extra5label extra5 ... extra6label extra6'
    'extra7label extra7 ... extra8label extra8'
    'extra9label extra9 ... extra10label extra10'
    'extra11label extra11 ... extra12label extra12'
    'extra13label extra13 ... extra14label extra14'
    'extra15label extra15 ... extra18label extra18'
    'extra16label extra16 ... extra17label extra17'
    '... ... ... ... ...'
    '... ... ... ... ...'
    '... ... signature3 signature signature'
    '... ... ... ... ...'
    '... ... ... signature2 signature2';
}

.signature {
    grid-area: signature;
    visibility: hidden;
    width: 350px;
    border: 0px;
    border-top: 1px solid black;
    height: 30px;
    font-size: x-small;
    resize: none;
    background: none;
}

.signature2 {
    grid-area: signature2;
    visibility: hidden;
    width: 350px;
    border: 0px;
    border-top: 1px solid black;
    height: 30px;
    font-size: x-small;
    resize: none;
    background: none;
}

.signature3 {
    grid-area: signature3;
    visibility: hidden;
    width: 150px;
    border: 0px;
    border-top: 1px solid black;
    height: 30px;
    font-size: x-small;
    resize: none;
    background: none;
}


.printbutton {
    grid-area: button;
    grid-column: 5 / 6;
    height: 60px;
    border-radius: 25px;
}
.resetbutton {
    grid-area: button2;
    grid-column: 4 / 5;
    height: 60px;
    border-radius: 25px;
}

.name {
    grid-area: name;
    background-color: skyblue;
    color: black;
    height: 30px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    text-align: center;
    
}

.lastname {
    grid-area: lastname;
    background-color: skyblue;
    color: black;
    height: 30px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    text-align: center;
}

.pfach1 {
    grid-area: pfach1;
    background-color: skyblue;
    color: black;
    height: 30px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    text-align: center;
}

.pfach2 {
    grid-area: pfach2;
    background-color: skyblue;
    color: black;
    height: 30px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    text-align: center;
}

.pfach3 {
    grid-area: pfach3;
    background-color: skyblue;
    color: black;
    height: 30px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    text-align: center;
}

.pfach4 {
    grid-area: pfach4;
    background-color: skyblue;
    color: black;
    height: 30px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    text-align: center;
}

.pfach5 {
    grid-area: pfach5;
    background-color: skyblue;
    color: black;
    height: 30px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    text-align: center;
}

.extra1 {
    grid-area: extra1;
    background-color: skyblue;
    color: black;
    height: 30px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    text-align: center;
}

.extra2 {
    grid-area: extra2;
    background-color: skyblue;
    color: black;
    height: 30px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    text-align: center;   
}

.extra3 {
    grid-area: extra3;
    background-color: skyblue;
    color: black;
    height: 30px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    text-align: center;   
}

.extra4 {
    grid-area: extra4;
    background-color: skyblue;
    color: black;
    height: 30px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    text-align: center;   
}

.extra5 {
    grid-area: extra5;
    background-color: skyblue;
    color: black;
    height: 30px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    text-align: center;   
}

.extra6 {
    grid-area: extra6;
    background-color: skyblue;
    color: black;
    height: 30px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    text-align: center;   
}

.extra7 {
    grid-area: extra7;
    background-color: skyblue;
    color: black;
    height: 30px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    text-align: center;   
}

.extra8 {
    grid-area: extra8;
    background-color: skyblue;
    color: black;
    height: 30px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    text-align: center;   
}

.extra9 {
    grid-area: extra9;
    background-color: skyblue;
    color: black;
    height: 30px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    text-align: center;   
}

.extra10 {
    grid-area: extra10;
    background-color: skyblue;
    color: black;
    height: 30px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    text-align: center;   
}

.extra11 {
    grid-area: extra11;
    background-color: skyblue;
    color: black;
    height: 30px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    text-align: center;   
}

.extra12 {
    grid-area: extra12;
    background-color: skyblue;
    color: black;
    height: 30px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    text-align: center;   
}

.extra13 {
    grid-area: extra13;
    background-color: skyblue;
    color: black;
    height: 30px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    text-align: center;   
}

.extra14 {
    grid-area: extra14;
    background-color: skyblue;
    color: black;
    height: 30px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    text-align: center;   
}

.extra15 {
    grid-area: extra15;
    background-color: skyblue;
    color: black;
    height: 30px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    text-align: center;   
}

.extra16 {
    grid-area: extra16;
    background-color: skyblue;
    color: black;
    height: 30px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    text-align: center;   
}

.extra17 {
    grid-area: extra17;
    background-color: skyblue;
    color: black;
    height: 30px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    text-align: center;   
}

.extra18 {
    grid-area: extra18;
    background-color: skyblue;
    color: black;
    height: 30px;
    border: none;
    border-radius: 25px;
    cursor: default;
    resize: none;
    text-align: center;   
}

/*----------------------------------------------------------------------------------------------------*/
.extragk {
    grid-area: extragk;
    color: black;
    background-color: skyblue;
    border-radius: 25px;
    border: 4px solid skyblue;
    text-align: center;
}
.namelabel {
    grid-area: labelname;
    color: black;
    background-color: skyblue;
    border-radius: 25px;
    border: 4px solid skyblue;
    text-align: center;
}


.lastnamelabel {
    grid-area: labellastname;
    color: black;
    text-align: center;
}

.lastnamelabel {
    grid-area: labellastname;
    background-color: skyblue;
    border-radius: 25px;
    border: 4px solid skyblue;
    text-align: center;
}

.pfach1label {
    grid-area: pfach1label;
    color: black;
    text-align: center;
}

.pfach1label {
    grid-area: pfach1label;
    background-color: skyblue;
    border-radius: 25px;
    border: 4px solid skyblue;
    text-align: center;
}

.pfach2label {
    grid-area: pfach2label;
    color: black;
    text-align: center;
}

.pfach2label {
    grid-area: pfach2label;
    background-color: skyblue;
    border-radius: 25px;
    border: 4px solid skyblue;
    text-align: center;
}

.pfach3label {
    grid-area: pfach3label;
    color: black;
    text-align: center;
}

.pfach3label {
    grid-area: pfach3label;
    background-color: skyblue;
    border-radius: 25px;
    border: 4px solid skyblue;
    text-align: center;
}

.pfach4label {
    grid-area: pfach4label;
    color: black;
    text-align: center;
}

.pfach4label {
    grid-area: pfach4label;
    background-color: skyblue;
    border-radius: 25px;
    border: 4px solid skyblue;
    text-align: center;
}

.pfach5label {
    grid-area: pfach5label;
    color: black;
    text-align: center;
}

.pfach5label {
    grid-area: pfach5label;
    background-color: skyblue;
    border-radius: 25px;
    border: 4px solid skyblue;
}

.extra1label {
    grid-area: extra1label;
    color: black; 
    text-align: center;
}

.extra1label {
    grid-area: extra1label;
    background-color: skyblue;
    border-radius: 25px;
    border: 4px solid skyblue;

}

.extra2label {
    grid-area: extra2label;
    color: black; 
    text-align: center;
}

.extra2label {
    grid-area: extra2label;
    background-color: skyblue;
    border-radius: 25px;
    border: 4px solid skyblue;
}

.extra3label {
    grid-area: extra3label;
    color: black; 
    text-align: center;
}

.extra3label {
    grid-area: extra3label;
    background-color: skyblue;
    border-radius: 25px;
    border: 4px solid skyblue;
}

.extra4label {
    grid-area: extra4label;
    color: black; 
    text-align: center;
}

.extra4label {
    grid-area: extra4label;
    background-color: skyblue;
    border-radius: 25px;
    border: 4px solid skyblue;
}

.extra5label {
    grid-area: extra5label;
    color: black; 
    text-align: center;
}

.extra5label {
    grid-area: extra5label;
    background-color: skyblue;
    border-radius: 25px;
    border: 4px solid skyblue;
}

.extra6label {
    grid-area: extra6label;
    color: black; 
    text-align: center;
}

.extra6label {
    grid-area: extra6label;
    background-color: skyblue;
    border-radius: 25px;
    border: 4px solid skyblue;
}

.extra7label {
    grid-area: extra7label;
    color: black; 
    text-align: center;
}

.extra7label {
    grid-area: extra7label;
    background-color: skyblue;
    border-radius: 25px;
    border: 4px solid skyblue;
}

.extra8label {
    grid-area: extra8label;
    color: black; 
    text-align: center;
}

.extra8label {
    grid-area: extra8label;
    background-color: skyblue;
    border-radius: 25px;
    border: 4px solid skyblue;
}

.extra9label {
    grid-area: extra9label;
    color: black; 
    text-align: center;
}

.extra9label {
    grid-area: extra9label;
    background-color: skyblue;
    border-radius: 25px;
    border: 4px solid skyblue;
}

.extra10label {
    grid-area: extra10label;
    color: black; 
    text-align: center;
}

.extra10label {
    grid-area: extra10label;
    background-color: skyblue;
    border-radius: 25px;
    border: 4px solid skyblue;
}

.extra11label {
    grid-area: extra11label;
    color: black; 
    text-align: center;
}

.extra11label {
    grid-area: extra11label;
    background-color: skyblue;
    border-radius: 25px;
    border: 4px solid skyblue;
}

.extra12label {
    grid-area: extra12label;
    color: black; 
    text-align: center;
}

.extra12label {
    grid-area: extra12label;
    background-color: skyblue;
    border-radius: 25px;
    border: 4px solid skyblue;
}

.extra13label {
    grid-area: extra13label;
    color: black; 
    text-align: center;
}

.extra13label {
    grid-area: extra13label;
    background-color: skyblue;
    border-radius: 25px;
    border: 4px solid skyblue;
}

.extra14label {
    grid-area: extra14label;
    color: black; 
    text-align: center;
}

.extra14label {
    grid-area: extra14label;
    background-color: skyblue;
    border-radius: 25px;
    border: 4px solid skyblue;
}

.extra15label {
    grid-area: extra15label;
    color: black; 
    text-align: center;
}

.extra15label {
    grid-area: extra15label;
    background-color: skyblue;
    border-radius: 25px;
    border: 4px solid skyblue;
}

.extra16label {
    grid-area: extra16label;
    color: black; 
    text-align: center;
}

.extra16label {
    grid-area: extra16label;
    background-color: skyblue;
    border-radius: 25px;
    border: 4px solid skyblue;
}

.extra17label {
    grid-area: extra17label;
    color: black; 
    text-align: center;
}

.extra17label {
    grid-area: extra17label;
    background-color: skyblue;
    border-radius: 25px;
    border: 4px solid skyblue;
}

.extra18label {
    grid-area: extra18label;
    color: black; 
    text-align: center;
}

.extra18label {
    grid-area: extra18label;
    background-color: skyblue;
    border-radius: 25px;
    border: 4px solid skyblue;
}
/*----------------------------------------------------------------------------------------------------*/
