
.grid-container3 {
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 5px;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-areas: 
    'button ... ... ...'
    'labelname name labellastname lastname';
}

.printbutton {
    grid-area: button;
}

.name {
    grid-area: name;
    background-color: skyblue;
    border: none;
    text-align: center;
    color: black;
    margin: 0px;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 10%;
    cursor: default;
    resize: none;
}

.lastname {
    grid-area: lastname;
    background-color: skyblue;
    border: none;
    text-align: center;
    color: black;
    margin: 0px;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 14%;
    cursor: default;
}

.pfach1 {
    background-color: skyblue;
    border: none;
    text-align: center;
    color: black;
    margin: 0px;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 18%;
    cursor: default;
}

.pfach2 {
    background-color: skyblue;
    border: none;
    text-align: center;
    color: black;
    margin: 0px;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 22%;
    cursor: default;
}

.pfach3 {
    background-color: skyblue;
    border: none;
    text-align: center;
    color: black;
    margin: 0px;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 26%;
    cursor: default;
}

.pfach4 {
    background-color: skyblue;
    border: none;
    text-align: center;
    color: black;
    margin: 0px;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 30%;
    cursor: default;
}

.pfach5 {
    background-color: skyblue;
    border: none;
    text-align: center;
    color: black;
    margin: 0px;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 34%;
    cursor: default;
}

/*----------------------------------------------------------------------------------------------------*/

.namelabel {
    grid-area: labelname;
    color: black;
    position: absolute;
    left: 40%;
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    top: 10%;
}

.lastnamelabel {
    grid-area: labellastname;
    color: black;
    position: absolute;
    left: 40%;
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    top: 14%;
}

.pfach1label {
    color: black;
    position: absolute;
    left: 40%;
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    top: 18%;
    cursor: default;
}

.pfach2label {
    color: black;
    position: absolute;
    left: 40%;
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    top: 22%;
    cursor: default;
}

.pfach3label {
    color: black;
    position: absolute;
    left: 40%;
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    top: 26%;
    cursor: default;
}

.pfach4label {
    color: black;
    position: absolute;
    left: 40%;
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    top: 30%;
    cursor: default;
}

.pfach5label {
    color: black;
    position: absolute;
    left: 40%;
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    top: 34%;
    cursor: default;
}

/*----------------------------------------------------------------------------------------------------*/