body {
    background-color: rgb(255, 255, 255);
}

p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.button1 {
    background-color: seagreen;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;   
    cursor: pointer;
}
.grid-container {
    display: grid;
    grid-template-areas: 
        'left left middle middle right right';
    grid-column-gap: 1px;
}

.left, .middle, .right {
    padding: 10px;
    height: 300px;
    background-color:#aaa;
}

.left {
    grid-area: left;
}

.middle {
    grid-area: middle;
}

.right {
    grid-area: right;
}

@media (max-width: 600px) {
    .grid-container  {
      grid-template-areas: 
        'left left left left left left' 
        'middle middle middle middle middle middle' 
        'right right right right right right';
    }
}

.header {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;   
}