body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url("https://i.pinimg.com/originals/87/15/c6/8715c6f2b36ea2306b9b32dcf7e4cffe.png");
  /*background-position: 800px 20%;
  background-attachment: scroll;
  background-repeat: no-repeat;
  overflow-x: hidden;*/
  min-height: 100%;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}


p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

/*----------------------------------------------------------------------------------------------------*/

.button1 {
    background-color: skyblue;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;   
    cursor: pointer;
}
    .button1:hover,
    .button1:focus {
        box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    }

.buttonstart {
    background-color: skyblue;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;   
    cursor: pointer;
    align-self: center;
}
    .buttonstart:hover,
    .buttonstart:focus {
        box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    }
    .buttonstart /*button centrieren*/ {
        margin: 0px;
        position: absolute;
        left: 85%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 15%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

.buttonfertig {
    background-color: skyblue;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;   
    cursor: pointer;
}
    .buttonfertig:hover,
    .buttonfertig:focus {
        box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    }

    .buttonfertig /*button centrieren*/ {
        margin: 0px;
        position: absolute;
        top: 92%;
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

/*----------------------------------------------------------------------------------------------------*/

.inputname {
    background-color: skyblue;
    border: none;
    text-align: center;
    color: white;
    margin: 0px;
    position: absolute;
    left: 45%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 15%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.inputname::placeholder {
    color: white;
    opacity: 1; /* Firefox */
    text-align: center;
}

.showname {
    background-color: skyblue;
    border: none;
    text-align: center;
    color: white;
    margin: 0px;
    position: absolute;
    left: 12%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 3%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: default;
}


.inputlastname {
    background-color: skyblue;
    border: none;
    text-align: center;
    color: white;
    margin: 0px;
    position: absolute;
    left: 62%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 15%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.inputlastname::placeholder {
    color: white;
    opacity: 1; /* Firefox */
    text-align: center;
}

.showlastname {
    background-color: skyblue;
    border: none;
    text-align: center;
    color: white;
    margin: 0px;
    position: absolute;
    left: 30.5%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 3%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: default;
}

/*----------------------------------------------------------------------------------------------------*/

.grid-container {
    display: grid;
    grid-column-gap: 5px;
    grid-template-areas: 
        'lef lefmid mid rigmid rig';
}

.gp1, .gp2, .gp3, .gp4, .gp5{
    padding: 5px;
    height: 700px;
    background-color:rgb(236, 236, 236);
    border-radius: 20px;
    opacity: 0.9;
}

.gp1 {
    grid-area: lef;
}

.gp2 {
    grid-area: lefmid;
}

.gp3 {
    grid-area: mid;
}

.gp4 {
     grid-area: rigmid;
}

.gp5 {
    grid-area: rig;
}


/*----------------------------------------------------------------------------------------------------*/

.header {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center; 
    text-decoration: underline;  
    cursor: default;
}

/*----------------------------------------------------------------------------------------------------*/

.toggle-buttons input[type="radio"]{
    visibility: hidden;
}


.toggle-buttons label {
    border: 1px solid #333;
    border-radius: 0.5em;
    padding: 0.5em;
    cursor: pointer;
    position: absolute;
    align-items: center;
}

.toggle-buttons input:checked + label{
    background: #aefcff;
    color: #013e49;
    box-shadow: none;
}

.toggle-buttons-invisible {
    display: none;
}

/*----------------------------------------------------------------------------------------------------*/

.manu {
    background-color: skyblue;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;   
    cursor: pointer;
    top: 280px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.gesell {
    background-color: skyblue;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;   
    cursor: pointer;
    top: 250px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.muku {
    background-color: skyblue;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;   
    cursor: pointer;
    top: 310px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.sprach {
    background-color: skyblue;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;   
    cursor: pointer;
    top: 340px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

/*----------------------------------------------------------------------------------------------------*/

.startauswahlbutton {
    background-color: skyblue;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;   
    cursor: pointer;
    position: absolute;
    left: 35%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 35%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
    .startauswahlbutton:hover,
    .startauswahlbutton:focus {
        box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    }

    .startauswahlbutton2 {
        background-color: skyblue;
        border: none;
        border-radius: 15px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;   
        cursor: pointer;
        position: absolute;
        left: 35%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 55%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
        .startauswahlbutton2:hover,
        .startauswahlbutton2:focus {
            box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
        }

/*----------------------------------------------------------------------------------------------------------------------------------------------*/

.cookieConsentContainer {
	z-index: 999;
	width: 350px;
	min-height: 20px;
	box-sizing: border-box;
	padding: 30px 30px 30px 30px;
	background: #232323;
	overflow: hidden;
	position: fixed;
    bottom: 30px;
	right: 30px;
	display: none;
}
.cookieConsentContainer .cookieTitle a {
	font-family: OpenSans, arial, "sans-serif";
	color: #FFFFFF;
	font-size: 22px;
	line-height: 20px;
	display: block;
}
.cookieConsentContainer .cookieDesc p {
	margin: 0;
	padding: 0;
	font-family: OpenSans, arial, "sans-serif";
	color: #FFFFFF;
	font-size: 13px;
	line-height: 20px;
	display: block;
	margin-top: 10px;
} .cookieConsentContainer .cookieDesc a {
	font-family: OpenSans, arial, "sans-serif";
	color: #FFFFFF;
	text-decoration: underline;
}
.cookieConsentContainer .cookieButton a {
	display: inline-block;
	font-family: OpenSans, arial, "sans-serif";
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	margin-top: 14px;
	background: #000000;
	box-sizing: border-box; 
	padding: 15px 24px;
	text-align: center;
	transition: background 0.3s;
}
.cookieConsentContainer .cookieButton a:hover { 
	cursor: pointer;
	background: #3E9B67;
}

@media (max-width: 980px) {
	.cookieConsentContainer {
		bottom: 0px !important;
		left: 0px !important;
		width: 100%  !important;
	}
}

/*----------------------------------------------------------------------------------------------------------------------------------------------*/